/* .bargain-div {
    border: solid gray 2px;
    align-items: center;
} */

.asking,
.offered {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.offer-input {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
  margin-top: 14px;
  /* border: solid grey; */
}
