.prices {
  color: green;
  font-size: 1.1rem;
  border-radius: 5px;
}

.amount {
  color: inherit;
  font-weight: bolder;
}
.amountTxt {
  color: rgb(219, 144, 6);
  font-weight: bolder;
}

.card-title {
  font-style: italic;
}

.btn {
  padding: 4px;
}
